In [1]:
import pandas as pd
import numpy as np

### Q1

In [2]:
pd.__version__

'2.0.3'

In [3]:
df = pd.read_csv("housing.csv")

### Q2

In [4]:
df.shape

(20640, 10)

### Q3

In [5]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

### Q4

In [6]:
len(df["ocean_proximity"].unique())

5

### Q5

In [8]:
df[df["ocean_proximity"]=="NEAR BAY"]["median_house_value"].mean()

259212.31179039303

### Q6

In [9]:
df["total_bedrooms"].mean()

537.8705525375618

In [11]:
df["total_bedrooms"] = df["total_bedrooms"].fillna(df["total_bedrooms"].mean())

In [12]:
df["total_bedrooms"].mean()

537.8705525375617

### Q7

In [19]:
df_island = df[df["ocean_proximity"] == "ISLAND"][["housing_median_age", "total_rooms", "total_bedrooms"]]

In [20]:
X = df_island.to_numpy()

In [22]:
inverse = np.linalg.inv(X.T@X)

In [23]:
y = np.array([950, 1300, 800, 1000, 1300])

In [26]:
w = inverse@X.T@y

In [27]:
w

array([23.12330961, -1.48124183,  5.69922946])

In [28]:
w[-1]

5.699229455065586